* {
    box-sizing:border-box;
}


body {
    display: flex;
    justify-content: center;
}


.container {
  box-sizing: content-box;
 /*  height: 480px; */
 /*  width: 480px; */
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;    
}

.button {
height: fit-content;
width: fit-content;
margin: 15px;
}

